In [1]:
import pandas as pd
data = pd.read_csv('delivery_time.csv')
data.head()

   Delivery Time  Sorting Time
0          21.00            10
1          13.50             4
2          19.75             6
3          24.00             9
4          29.00            10

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Delivery Time  21 non-null     float64
 1   Sorting Time   21 non-null     int64
dtypes: float64(1), int64(1)
memory usage: 464.0 bytes

In [3]:
data.isnull().sum()

Delivery Time    0
Sorting Time     0
dtype: int64

In [4]:
data.corr()

               Delivery Time  Sorting Time
Delivery Time       1.000000      0.825997
Sorting Time        0.825997      1.000000

In [12]:
data['sorting_time']=data['Sorting Time']

In [16]:
data.drop('Sorting Time', axis=1, inplace=True)

In [17]:
data

    delivery_time  sorting_time
0           21.00            10
1           13.50             4
2           19.75             6
3           24.00             9
4           29.00            10
5           15.35             6
6           19.00             7
7            9.50             3
8           17.90            10
9           18.75             9
10          19.83             8
11          10.75             4
12          16.68             7
13          11.50             3
14          12.03             3
15          14.88             4
16          13.75             6
17          18.11             7
18           8.00             2
19          17.83             7
20          21.50             5

In [18]:
import statsmodels.formula.api as smf
model = smf.ols("delivery_time~sorting_time",data = data).fit()

In [19]:
model.params

Intercept       6.582734
sorting_time    1.649020
dtype: float64

In [20]:
print(model.tvalues, '\n', model.pvalues)

Intercept       3.823349
sorting_time    6.387447
dtype: float64
 Intercept       0.001147
sorting_time    0.000004
dtype: float64

In [21]:
(model.rsquared,model.rsquared_adj)

(0.6822714748417231, 0.6655489208860244)

In [22]:
newdata=pd.Series([10,6,9,10])

In [23]:
data_pred=pd.DataFrame(newdata,columns=['sorting_time'])

In [24]:
model.predict(data_pred)

0    23.072933
1    16.476853
2    21.423913
3    23.072933
dtype: float64

In [25]:
model.predict(data)

0     23.072933
1     13.178814
2     16.476853
3     21.423913
4     23.072933
5     16.476853
6     18.125873
7     11.529794
8     23.072933
9     21.423913
10    19.774893
11    13.178814
12    18.125873
13    11.529794
14    11.529794
15    13.178814
16    16.476853
17    18.125873
18     9.880774
19    18.125873
20    14.827833
dtype: float64