In [4]:
import statistics as stats
import scipy.stats
from scipy import stats
import pandas as pd

In [5]:
customerorder=pd.read_csv('Costomer+OrderForm.csv')

In [6]:
customerorder.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [8]:
objList = customerorder.select_dtypes(include = "object").columns
print (objList)

Index(['Phillippines', 'Indonesia', 'Malta', 'India'], dtype='object')

In [9]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

for feat in objList:
    customerorder[feat]=le.fit_transform(customerorder[feat].astype(str))
    
print(customerorder.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    int32
 1   Indonesia     300 non-null    int32
 2   Malta         300 non-null    int32
 3   India         300 non-null    int32
dtypes: int32(4)
memory usage: 4.8 KB
None

In [10]:
import scipy.stats as stats
stats.f_oneway(customerorder.iloc[:,0],customerorder.iloc[:,1],customerorder.iloc[:,2])

F_onewayResult(statistic=0.1434683513934984, pvalue=0.8663680942680894)

# Comparing P-value With Alpha Value

In [ ]:
## p-value > alpha Value so it is Null hypothesis